<div class="colorBlock colorBlock--{{ block.color }}">
    <div class="colorBlock__inner">
        <div class="colorBlock__content">
            {% if block.animation.one %}
                {% set animation = block.animation.one() %}
                {% include "_components/lottie.twig" with { path: animation } %}
            {% endif %}
            <h2 class="colorBlock__heading">
                {{ block.heading }}
            </h2>
            {% if block.lead|length %}
                 <div class="colorBlock__text">
                    {{ block.lead }}
                 </div>
            {% endif %}

            {% if block.grid|length %}
                <div class="colorBlock__grid-list">
                    {% for item in block.grid.all() %}
                        <div class="colorBlock__grid-item">
                            <div class="colorBlock__grid-image">
                                {% set image = item.image.one %}
                                {% set transformedImages = craft.imager.transformImage(image, [
                                    { width: 1080 },
                                    { width: 720 },
                                    { width: 540 },
                                    { width: 360 },
                                    { width: 290 },
                                    ], {
                                        position: '100% 100%',
                                        jpegQuality: 75 },
                                    { fillTransforms: true })
                                %}
                                <img src="{{ craft.imager.placeholder({ width: 360 }) }}"
                                    sizes="360, 100vw"
                                    srcset="{{ craft.imager.srcset(transformedImages) }}"
                                >
                            </div>
                            <div class="colorBlock__grid-heading">
                                {{ item.heading }}
                            </div>
                            <div class="colorBlock__grid-text">
                                {{ item.text }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if block.button is defined and block.button.isEmpty == false %}
                 <div class="colorBlock__button">
                     <a href="{{ block.button }}">
                         {{ block.button.getCustomText('Zum Eintrag') }}
                     </a>
                 </div>
            {% endif %}

            {% if block.text %}
                <div class="colorBlock__text">
                    {{ block.text }}
                </div>

            {% endif %}


        </div>
    </div>
</div>
