<div class="team" id="team">
    <div class="team__inner">
        <div class="team__list">
            {% for member in block.people.all() %}
                <div class="team__item">
                    {% if member.image.one %}
                        <div class="team__portrait">
                            {% set image = member.image.one %}
                            {% set transformedImages = craft.imager.transformImage(image, [
                                { width: 1080 },
                                { width: 720 },
                                { width: 540 },
                                { width: 360 },
                                { width: 290 },
                                ], {
                                    ratio: 4/3,
                                    position: '100% 100%',
                                    jpegQuality: 75 },
                                { fillTransforms: true })
                            %}
                            <img src="{{ craft.imager.placeholder({ width: 360 }) }}"
                                sizes="360, 100vw"
                                srcset="{{ craft.imager.srcset(transformedImages) }}"
                            >
                        </div>
                    {% endif %}
                    {% if member.fullName|length %}
                        <div class="team__full-name">
                            {{ member.fullName }}
                        </div>
                    {% endif %}
                    {% if member.role|length %}
                        <div class="team__role">
                            {{ member.role }}
                        </div>
                    {% endif %}
                    {% if member.text|length %}
                        <div class="team__text">
                            {{ member.text }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
