<!DOCTYPE html>
<!--

    Vinzenz Leutenegger (Code)

-->
{% minify %}
<html lang="{{ craft.app.language[0:2] }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="htmx-config" content='{"timeout":"2000"}'>

    {% if craft.app.config.env != 'production' %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}

    {% block seo_data %}
        {% include '_helpers/seo-data' %}
    {% endblock %}

   {% set favicon = craft.app.config.env == 'production' ? 'icon' : 'icon' %}
   <link rel="icon" href="/assets/meta/favicon.ico" sizes="any">
   <link rel="icon" type="image/svg+xml" href="/assets/meta/favicon.svg">
   <link rel="manifest" href="/dist/manifest.json">
   <link rel="apple-touch-icon" sizes="180x180" href="/assets/meta/apple-touch-icon.png">
   <meta name="theme-color" content="#ffffff">
{#    {{ block('meta') ?? null }}#}

    {% cache %}
        {# {% include '_helpers/seo.twig' %} #}
    {% endcache %}

    {{ craft.vite.script('src/js/app.js') }}
    <link rel="stylesheet" href="{{ craft.vite.asset('src/css/app.scss') }}">

    <style>
        [x-cloak] { display: none !important; }
        /*html { visibility: hidden; }*/
    </style>

    {% if craft.app.config.env == 'production' and not currentUser %}
        {# <script defer data-api="/api/event" data-domain="{{ craft.app.request.hostName }}" src="/js/script.js"></script> #}
    {% endif %}
</head>
<body
    class="ltr antialiased"
    hx-boost="true" hx-swap="innerHTML swap:200ms settle:200ms" hx-ext="progress-bar"
>

    {{ block('page') }}

    {# {% include '_helpers/breakpoint.twig' %} #}
    {# {% include '_helpers/devmode.twig' %} #}
</body>
</html>
{% endminify %}
