{% set nodes = craft.navigation.nodes('mainNav').all() %}
{# {% set allLanguages = craft.languageSwitcher.getUrls() %} #}
{% set currentLocale = craft.app.locale %}

<div class="nav">
    <div class="nav__inner">
        <div class="nav__navs">
            <nav class="nav__main">
                <ul class="nav__list">
                    <li class="nav__logo">
                        <a href="{{ siteUrl }}">
                            {% include "_components/logo" %}
                            <div class="nav__logo-type">{{ siteName }}</div>
                        </a>
                    </li>
                    {% nav node in nodes %}
                        <li class="nav__item {{node.active ? "nav__item--active" : ""}} {{ node.hasDescendants ? "nav__item--hasChildren" : ""}}">
                            <a href="{{ node.url }}">{{ node.title }}</a>
                            {% ifchildren %}
                                <ul class="nav__sublist">
                                    <div class="nav__sublist-inner">
                                        {% children %}
                                    </div>
                                </ul>
                            {% endifchildren %}
                        </li>
                    {% endnav %}
                </ul>
            </nav>
            {# <div class="nav__lang-switcher">
                <nav aria-label="{{'Switch language'|t}}" aria-role="navigation">
                    <ul class="nav__lang-list">
                        {% for item in allLanguages %}
                            {% set isActive = item.id == currentLocale.id|slice(0, 2) %}
                            <li class="nav__lang-item {{ isActive ? 'nav__lang-item--active'}}">
                                <a href="{{ item.url }}" hreflang="{{ item.id }}" lang="{{ item.id }}" title="{{ 'Switch to {language}'|translate({
                                    language: item.name
                                }) }}" class="no-barba" data-barba-prevent="self">
                                    {{ item.id|slice(0, 2)|upper }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div> #}
        </div>
    </div>
</div>
