{% set nodes = craft.navigation.nodes('mainNav').level(1).all() %}
{% set allLanguages = craft.languageSwitcher.getUrls() %}
{% set currentLocale = craft.app.locale %}

<div class="nav">
    <div class="nav__inner">
        <div class="nav__navs">
            <input class="nav__burger-checkbox sr-only" id="nav-checkbox" type="checkbox" title="Menu"/>
            <label class="nav__burger-label" for="nav-checkbox">
                <span class="nav__burger-title">
                    {{ seomatic.site.siteName }}
                </span>
                <div class="nav__burger-burger"></div>
            </label>
            <label for="nav-checkbox" class="nav__backdrop"></label>
            <nav class="nav__main">
                <ul class="nav__list">
                    <li class="nav__logo">
                        <a href="{{ siteUrl }}">
                            <div class="nav__logo-icon">
                                {% include "_components/logo" %}
                            </div>
                            <div class="nav__logo-type">
                                {{ seomatic.site.siteName }}
                            </div>
                        </a>
                    </li>
                    {% nav node in nodes %}
                        <li class="nav__item {{node.active ? "nav__item--active" : ""}} {{ node.hasDescendants ? "nav__item--hasChildren" : ""}}" x-data="{ open: false }" @click="open = ! open" @mouseover="open = true" @mouseout="open = false">
                            <a href="{{ node.url }}">{{ node.title }}</a>

                            {% if node.children|length %}
                                <ul class="nav__sublist" x-show="open">
                                    {% for subnode in node.children.all() %}
                                        <li class="nav__sublist-item">
                                            <a href="{{ node.url ~ '/' ~ subnode.url }} ">
                                                {{ subnode.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endnav %}
                </ul>
                <div class="nav__lang-switcher">
                    <nav aria-label="{{'Switch language'|t}}" aria-role="navigation">
                        <ul class="nav__lang-list">
                            {% for item in allLanguages %}
                                {% set isActive = item.id == currentLocale.id|slice(0, 2) %}
                                <li class="nav__lang-item {{ isActive ? 'nav__lang-item--active'}}">
                                    <a href="{{ item.url }}" hreflang="{{ item.id }}" lang="{{ item.id }}" title="{{ 'Switch to {language}'|translate({
                                        language: item.name
                                    }) }}" data-no-swup>
                                        {{ item.id|slice(0, 1)|upper }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
</div>
